[buildout]
develop = .
parts = omelette pytest
extensions = mr.developer
index = http://pypi.dolmen-project.org/pypi
auto-checkout = grokker crom
sources-dir = dev

[omelette]
recipe = collective.recipe.omelette
eggs = ${pytest:eggs}

[sources]
crom = git git@github.com:trollfot/crom.git
grokker = git git@github.com:trollfot/grokker.git

[pytest]
recipe = z3c.recipe.scripts
# Need exit status code for buildbot.
# See https://bugs.launchpad.net/zc.buildout/+bug/164629
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
eggs =
    pytest
    cromlech.crom [test]
